<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ZALOGOWANY!
<form th:action="@{/login}" method="post">
    <input type="submit" value="login" />
</form>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="name">Bob</span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>

</body>
</html>